.channelContainer {
   padding: 0px;
   margin: 0px;
}

.channelHeader {
   padding: 0px;
   margin: 0px;
}

.channelHeaderButtonUp {
   width: 50px;
   height: 50px;
   padding: 0px;
   margin: 0px;
   border: none;
}

.channelHeaderButtonDown {
   width: 50px;
   height: 50px;
   padding: 0px;
   margin: 0px;
   border: none;
   opacity: 0.5;
}

#expandedIcon{
   background: url(http://localhost/WaffleTunes/assets/images/expanded.png);
}
#collapsedIcon{
   background: url(http://localhost/WaffleTunes/assets/images/collapsed.png);
}
#collapsedIcon{
   background: url(http://localhost/WaffleTunes/assets/images/collapsed.png);
}
#mutedChannel{
   background: url(http://localhost/WaffleTunes/assets/images/muted.png);
}
#unmutedChannel{
   background: url(http://localhost/WaffleTunes/assets/images/unmuted.png);
}
#startOnLoop{
   background: url(http://localhost/WaffleTunes/assets/images/startOnLoop.png);
}
#stopOnLoop{
   background: url(http://localhost/WaffleTunes/assets/images/stopOnLoop.png);
}
.channelNameField{
   width: 300px;
   height: 50px;
   padding: 0px;
   margin: 0px;
   font-size: 50px;
}
#clearChannel{
   background: url(http://localhost/WaffleTunes/assets/images/erase.png);
   float: right;
}
#channelSettingsButton{
   background: url(http://localhost/WaffleTunes/assets/images/settings.png);
   float: right;
}

#createNewChannel{
   width: 250px;
   height: 50px;
   padding: 0px;
   margin: 0px;
   border: none;
   background: url(http://localhost/WaffleTunes/assets/images/addChannel.png);
}

/* Channel Content ************************************************************/
.channelContent {

}

.channelNotes {
   vertical-align: top;
   padding: 0px;
   margin: 0px;
   border:none;
   border-spacing: 0px;
   border-collapse: collapse;
   display: inline;
}

.channelTable {
   padding: 0px;
   margin: 0px;
   border:none;
   border-spacing: 0px;
   border-collapse: collapse;
   display: inline;
}

th, td {
    padding: 0;
}

.tableButtonDown {
   vertical-align: top;
   width: 50px;
   height: 50px;
   padding: 0px;
   margin: 0px;
   opacity: 0.5;
   border: none;
   font-size: 20px;
   background: url(http://localhost/WaffleTunes/assets/images/singleStaccato.png);
}

.tableButtonUp {
   vertical-align: top;
   width: 50px;
   height: 50px;
   padding: 0px;
   margin: 0px;
   border: none;
   font-size: 20px;
   background: url(http://localhost/WaffleTunes/assets/images/singleStaccato.png);
}


#bassIcon{
   background: url(http://localhost/WaffleTunes/assets/images/bass.png);
}
#bassDrumIcon{
   background: url(http://localhost/WaffleTunes/assets/images/bassDrum.png);
}
#highHatClosedIcon{
   background: url(http://localhost/WaffleTunes/assets/images/highHatClosed.png);
}
#highHatOpenIcon{
   background: url(http://localhost/WaffleTunes/assets/images/highHatOpen.png);
}
#sawWaveIcon{
   background: url(http://localhost/WaffleTunes/assets/images/sawWave.png);
}
#sineWaveIcon{
   background: url(http://localhost/WaffleTunes/assets/images/sineWave.png);
}
#snareIcon{
   background: url(http://localhost/WaffleTunes/assets/images/snare.png);
}
#squareWaveIcon{
   background: url(http://localhost/WaffleTunes/assets/images/squareWave.png);
}
#triangleWaveIcon{
   background: url(http://localhost/WaffleTunes/assets/images/triangleWave.png);
}
