#mainSettingsOverlay {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0, 0, 0, 0.85);
}

#mainSettings {
  position: absolute;
  top: 20%;
  bottom: 20%;
  right: 20%;
  left: 20%;
  background: gray;
}

#mainSettingsHeader{

}

#mainSettingsTitle{
   width: 100%;
   height: 50px;
   text-align: center;
   font-size:35px;
}

#mainSettingsExit{
   background: url(http://localhost/WaffleTunes/assets/images/exit.png);
}
#mainSettingsSave{
   background: url(http://localhost/WaffleTunes/assets/images/save.png);
}
#mainSettingsDelete{
   background: url(http://localhost/WaffleTunes/assets/images/delete.png);
}

.mainSettingsButton {
   width: 50px;
   height: 50px;
   padding: 0px;
   margin: 0px;
   border: none;
}

.mainSettingsCenterElement{
   width: 100%;
   text-align: center;
   display: block;
   margin: 0 auto;
   padding: 10px;
}

#mainSettingsFooter{
   margin-top: 20px;
}

#mainSettingsTimeSignature{
   width: 10%;
   height: 50px;
   font-size: 50px;
}
#mainSettingsNumOfMeasures{
   width: 10%;
   height: 50px;
   font-size: 50px;
}
