body{
   padding: 0px;
   margin: 0px;
   background-color: black;
}

/* Main Header ****************************************************************/
.mainHeader {
   background-color: black;
}

.mainHeaderButton {
   width: 50px;
   height: 50px;
   padding: 0px;
   margin: 0px;
   border: none;
}

#playAllChannels{
   background: url(http://localhost/WaffleTunesHTML/assets/images/play.png);
}
#stopOnLoop{
   background: url(http://localhost/WaffleTunesHTML/assets/images/stopOnLoop.png);
}
#loopPlayback{
   background: url(http://localhost/WaffleTunesHTML/assets/images/loop.png);
}
#stopPlayback{
   background: url(http://localhost/WaffleTunesHTML/assets/images/stop.png);
}
#noteTypeStaccato{
   background: url(http://localhost/WaffleTunesHTML/assets/images/staccato.png);
}
#noteTypeLegato{
   background: url(http://localhost/WaffleTunesHTML/assets/images/legato.png);
}
#setTempoMinus{
   background: url(http://localhost/WaffleTunesHTML/assets/images/minus.png);
   float: right;
}
#tempoLabel{
   height: 50px;
   color: white;
   font-size: 50px;
   float: right;
}
#setTempoPlus{
   background: url(http://localhost/WaffleTunesHTML/assets/images/plus.png);
   float: right;
}
#mainSettingsButton{
   background: url(http://localhost/WaffleTunesHTML/assets/images/settings.png);
   float: right;
}
